<div class="m-5">
   <div class="card">
      <div class="card-header">
         <h1>Dashboard</h1>
      </div>
      <div class="card-body">
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, molestias expedita mollitia voluptatibus pariatur, possimus dolorem cupiditate assumenda itaque reprehenderit explicabo distinctio placeat sit natus officiis esse corporis tempore veniam!</p>
      </div>
      <div class="card-footer">
         <span>
            <button class="btn btn-primary w-25 me-4">salar</button>
            <button class="btn btn-danger w-25">sair</button>
         </span>
      </div>
   </div>
</div>