@import '../../../../../dist/scss/variables.scss';

.headerContainer {
   background-color: $tertiary-background-color;
   height: 4rem;

   h1 {      
      color: $secondary-text-color;
      font-size: 1.5rem;
      margin-bottom: 0px;
   }
}